body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: rgb(29, 25, 25);
  background: url("../Image/bgimg.jpg");
}

* {
  box-sizing: border-box;
}

 
.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
 
}

h1,
h2,
h3,
p {
  margin-bottom: 20px;
  color: #eff;
  font-weight: 600;
}

p {
  margin-bottom: 20px;
  color: rgb(29, 25, 25);
}

p {
    text-indent:40px;
}
 

h1,
h2,
h3 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  background: #1769a0; 
}

h1 {
  padding-bottom: 20px;
  font-size: 30px;
  line-height: 49px;
  border-bottom: 3px solid #ddd;
  text-align: center;
}

h2,
h3 {
  font-size: 30px;
  font-weight: 300;
}

/* header */

#masthead {
  position: fixed;
  z-index: 99;
  width: 100%;
  margin: 0 0 30px;
  overflow: auto;

  color: rgb(29, 25, 25);
  background: #1769a0;
  border-bottom: 2px solid #ccc;
}

#logo {
  margin-right: 20px;
  padding-right: 50%;
  float: left;
  width: 400px;
  height: 70px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 0px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background: #1769a0; 
}

nav {
  float: right;
  margin-top: 25px;
  background: #1769a0; 

}

 
nav a {
   position: relative;
  display: inline-block;
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  color: #fff;
  text-decoration: none;
  border-left: 1px solid #efefef;
}


h3, h2 {
  padding-bottom: 20px;
  margin-bottom: 15px;
  line-height: 22px;
  border-bottom: 2px solid #eee;
}

/* main */
#main-container {
  padding-top: 130px;
  min-height: calc(100vh - 70px);
}

.main-section {
  float: left;
  width: 100%;
  max-width: 960px;
  padding: 30px;
  margin: 0 0 40px;
  /* border: 4px solid #1769a0;  */
   
}

                                  
.project {                             /* style portfolio page ONLY */
  position: relative;
  float: left;
  display: flex;
  /* width: 274px; */
  width: auto;
  margin: 20px 0 25px;
  overflow: auto;
  font-weight: 500;
  font-size: 20px;
}
  /* the four or however may projects listed in this box  */
.project:nth-child(even) {
  margin-right: 70px;
  margin-left: 100px;
 }

.project img {
  width: 100%;
  height:
  border: 0 none;
  opacity: 0.8;
}

.project h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 15px;
  margin-bottom: 0;
  font-weight: 300;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background: #1769a0; 
  border-bottom: 0;
}

.auth-image {  /* profile photo */
  float: left;
  width: 200px;
  height: 400;
  margin-top: 10px;
  margin-right: 25px;
}                                /* END portfolio page */ 
                              

                               /* Style contact page ONLY */
#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #ddd;
}

textarea {
  height: 200px;
}

input[type=submit] {
  padding: 10px 30px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  background: #1769a0; 
  border: 0 none;
}
                                          /* END contact page */


/* style footer  */
footer {
  padding-bottom: 20px;
  clear: both;
  font-size: 15px;
  color: #fff;
   text-align: center;
  background: #1769a0;
  border-top: 8px solid #1769a0;;
  height: 50px;
  
}
 
.contactMe {
  
  margin-bottom: 50px;
  width: 100px; padding: 10px;
   color: white;
  font-weight: bold;
   cursor: pointer; 
   font-size: 100%;
   float: center;
}
.fa {
  padding: 10px;
  font-size: 10px;
  width: 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

/* emaila and social media section  */
 .social-icon {
  width: 70px;
  height: 50px;
  margin: 25px;
  margin-top: -25px;
  
 }
 /* style sticky social bar below  */
 .icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
    background-color: #000;
}


.github {
  background: #dd4b39;
  color: white;
 }

.linkedin {
  background: #007bb5;
  color: white;
}

.google {
  background: #bb0000;
  color: white;
}