body {
    background: url(../images/bananas.png);
    background-size: 125px;
    width: 100%;
}

h1,
.gameTitle {
    font-size: 100px;
    font-family: 'Flavors', cursive;
    color: #ffffff;
}

th {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hint {
    font-family: 'Flavors', cursive;
    font-size: 100px;
}

.header {
    background: url(../images/oceans.jpg);
    border-bottom: 8px solid gray;
    width: 100%;
    height: 177px;
    margin-bottom: 2%;
}

.game-section {
    text-align: center;
    font-size: 2em;
    width: 100%;
    min-height: 500px;
    color: aliceblue;
}

.container {
    text-align: center;
}

main {
    background-color: #4a8caa;
    border-radius: 40px;
    padding: 20px;
    min-height: 500px;
    margin-bottom: 5%;
}

.footer {
    background-color: #ffffff;
    border-top: 5px solid gray;
    border-bottom: 5px solid gray;
    text-align: center;
    width: 100%;
    height: 150px;
    margin-bottom: 2%;
    padding-top: 50px;
}

#loser,
#winner {
    margin: auto;
}

#currentWord {
    letter-spacing: 10px;
    font-size: 1.5em;
}

#pressKeyToRetry {
    color: rgb(187, 255, 0);
}

.game-section th,
.game-section td {
    border: 2px dotted rgb(35, 180, 132);
    width: 1%;
}

.jumbotron {
    background: url("../images/splash.jpg");
}

@media screen and (min-width: 576px) {
    .jumbotron {
        padding: 4em 2rem;
    }
}