 body {
     background: url(../images/bananas.png);
     background-size: 125px;
     width: 100%;
 }
 
 h1 {
     font-size: 100px;
     font-family: 'Flavors', cursive;
     color: peru;
 }
 
 th {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 
 .game-section {
     text-align: center;
     font-size: 2em;
     width: 100%;
     min-height: 500px;
     color: aliceblue;
 }
 
 .container {
     text-align: center;
 }
 
 main {
     background-color: #4a8caa;
     border-radius: 40px;
     padding: 20px;
     min-height: 500px;
     margin-bottom: 5%;
 }
 
 .footer {
     background-color: #ffffff;
     border-top: 3px solid gray;
     border-bottom: 3px solid gray;
     text-align: center;
     width: 100%;
     height: 100px;
     margin-bottom: 10px;
     padding-top: 50px;
     color: peru;
 }
 
 #totalWins {
     margin: auto;
 }
 
 #currentWord {
     letter-spacing: 10px;
     font-size: 1.5em;
 }
 
 .game-section th,
 .game-section td {
     border: 3px dotted rgb(35, 180, 132);
     width: 1%;
 }
 
 #wordGuess {
     color: peru;
 }
 
 .jumbotron {
     background: url("../images/hiWay.jpg");
     background-attachment: fixed;
     background-size: 100%;
     text-align: center;
     margin-right: 15px;
     margin-left: 25px;
 }