.topnav {
  float: center;
  display: block;
  color: #12e212;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: rgb(69, 158, 231);
}

.footer {
  position: relative;
  margin: auto;
  bottom: auto;
  width: 100%;
  text-align: center;
  background-color: rgb(69, 158, 231);
  color: wheat;
}